---
page_title: "Custom Roles"
---

# Managing Custom Roles

Operations:
VIEW_DASHBOARD
MANAGE_CLUSTER_DISKS
VIEW_SLA
ADD_AWS_CLOUD_ACCOUNT
ALLOW_SUPPORT_USER_SESSIONS
VIEW_CDM_SYS_CONFIG
EDIT_CDM_SYS_CONFIG
RESTORE
VIEW_SMB_DOMAIN
VIEW_DATA_SECURITY_DETAILS
MANAGE_CDP_IO_FILTER
VIEW_CERTIFICATE
EDIT_AWS_CLOUD_ACCOUNT
VIEW_AUDIT_LOG
VIEW_ORCHESTRATED_RECOVERY_APP
MOUNT
EDIT_CDM_SUPPORT_SETTING
VIEW_THREAT_HUNT_RESULTS
DELETE_SLA
REMOVE_CLUSTER
MODIFY_INVENTORY
EDIT_REPLICATION_SETTINGS
MODIFY_SLA
VIEW_AZURE_CLOUD_ACCOUNT
EDIT_CDM_NETWORK_SETTING
EDIT_STORAGE_SETTINGS
ADD_GCP_CLOUD_ACCOUNT
MANAGE_WEBHOOKS
EXPORT_FILES
VIEW_WEBHOOKS
DELETE_STORAGE_SETTINGS
EDIT_ORGANIZATION
DELETE_REPORT
EDIT_QUARANTINE
VIEW_ORGANIZATION
MODIFY_CLUSTER
CREATE_THREAT_HUNT
TAKE_ON_DEMAND_SNAPSHOT
VIEW_SYSTEM_EVENT
MANAGE_CERTIFICATE
ADD_INVENTORY
DOWNLOAD_FROM_ARCHIVAL_LOCATION
DELETE_INVENTORY
CREATE_REPORT
VIEW_USER_MANAGEMENT
DELETE_GCP_CLOUD_ACCOUNT
VIEW_AWS_CLOUD_ACCOUNT
EXPORT
DELETE_SNAPSHOT
MODIFY_REPORT
EDIT_USER_MANAGEMENT
ADD_AZURE_CLOUD_ACCOUNT
UPGRADE_CLUSTER
VIEW_INVENTORY_WITH_HIERARCHY
MANAGE_SMB_DOMAIN
VIEW_REPLICATION_SETTINGS
VIEW_CDM_NETWORK_SETTING
MANAGE_PROTECTION
INSTANT_RECOVER
CREATE_SLA
REMOVE_CLUSTER_NODES
VIEW_REPORT
VIEW_SYSTEM_PREFERENCE
EDIT_NETWORK_THROTTLE_SETTINGS
REFRESH_DATA_SOURCE
VIEW_STORAGE_SETTINGS
VIEW_GCP_CLOUD_ACCOUNT
VIEW_DATA_CLASS_GLOBAL
EDIT_SECURITY_SETTINGS
VIEW_SECURITY_SETTINGS
ADD_CLUSTER_NODES
TOGGLE_BLACKOUT_WINDOW
EDIT_AZURE_CLOUD_ACCOUNT
EDIT_SYSTEM_PREFERENCE
TRANSFER_ACCOUNT_OWNERSHIP
VIEW_CDM_SUPPORT_SETTING
CATEGORY_VIEW_DATA_SOURCE
VIEW_INVENTORY
VIEW_ACCESS
MANAGE_DATA_SOURCE
CATEGORY_MANAGE_DATA_SOURCE
UPDATE_ACCOUNT_OWNERSHIP
DELETE_AZURE_CLOUD_ACCOUNT
ADD_CLUSTER
EXPORT_DATA_CLASS_GLOBAL
DOWNLOAD
MANAGE_ACCESS
CANCEL_RUNNING_ACTIVITY
CATEGORY_PROTECTION
MANAGE_LEGAL_HOLD
VIEW_NETWORK_THROTTLE_SETTINGS
EXPORT_SNAPSHOTS
EDIT_GCP_CLOUD_ACCOUNT
RESIZE_MANAGED_VOLUME
CATEGORY_RECOVERY
DOWNLOAD_SNAPSHOT_FROM_REPLICATION_TARGET
MANAGE_RECOVERY_PLAN
ADD_STORAGE_SETTINGS
CONFIGURE_DATA_CLASS_GLOBAL
RESTORE_TO_ORIGIN
PROVISION_ON_INFRASTRUCTURE
MANAGE_SLA
VIEW_CLUSTER
VIEW_NON_SYSTEM_EVENT
RECOVER_FROM_QUARANTINE
MANAGE_ORCHESTRATED_RECOVERY
DELETE_AWS_CLOUD_ACCOUNT
MANAGE_CLUSTER_SETTINGS

Snappable Types:
AWS_NATIVE_S3_BUCKET
KuprNamespace
AwsNativeEbsVolume
O365Mailbox
AwsNativeRdsInstance
O365Site
AwsNativeEc2Instance
AllSubHierarchyType
O365Teams
AzureNativeVirtualMachine
AzureSqlDatabaseDb
O365SharePointDrive
O365Onedrive
AzureSqlManagedInstanceDb
AZURE_AD_TENANT
GcpNativeGCEInstance
O365SharePointList
AzureNativeManagedDisk
AZURE_STORAGE_ACCOUNT
