---
layout: ""
page_title: "polaris_aws_account Resource - terraform-provider-polaris"
description: |-

---

# polaris_aws_account (Resource)

## Manage Permissions

Polaris require permissions to operate and for AWS this is handled by a CloudFormation stack. As new features are added
to Polaris the permissions changes. When the status of a feature is `missing-permissions` the CloudFormation stack must
be updated for the feature to continue to function. This can be managed by setting the `permissions` argument to
`update`. This will generate a diff when the status of at least one feature is `missing-permissions`. Applying the AWS
account resource for this diff will update the CloudFormation stack. If the `permissions` argument is not specified the
provider will not attempt to update the CloudFormation stack.

## Example Usage

{{tffile "examples/resources/polaris_aws_account/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}
