---
layout: ""
page_title: "polaris_gcp_service_account Resource - terraform-provider-polaris"
description: |-

---

# polaris_gcp_service_account (Resource)

## Manage Permissions

Polaris require permissions to operate and for GCP this is handled by a service account. As new features are added to
Polaris the permissions changes. When the status of a project feature is `missing-permissions` the permissions of the
service account must be updated for the feature to continue to function. This can be managed automatically by Terraform
using the the [google](https://registry.terraform.io/providers/hashicorp/google/latest) provider:

```terraform
data "polaris_gcp_permissions" "default" {
  features = [
    "cloud-native-protection",
  ]
}

resource "google_project_iam_custom_role" "default" {
  role_id     = "terraform"
  title       = "Terraform"
  permissions = data.polaris_gcp_permissions.default.permissions
}

resource "google_project_iam_member" "default" {
  role   = google_project_iam_custom_role.default.id
  member = "serviceAccount:terraform@my-project.iam.gserviceaccount.com"
}

resource "polaris_gcp_service_account" "default" {
  credentials      = "${path.module}/my-project-d978f94d6c4d.json"
  permissions_hash = data.polaris_gcp_permissions.default.hash

  depends_on = [
    google_project_iam_custom_role.default,
    google_project_iam_member.default,
  ]
}
```

When the permissions for a feature changes the `polaris_gcp_permissions` data source will reflect this generating a
diff for the `google_project_iam_custom_role` and the `polaris_gcp_service_account` resources. Applying the diff will
first update the permissions of the service account's custom role and then notify Polaris about the update.

## Example Usage

{{tffile "examples/resources/polaris_gcp_service_account/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}
