---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
  {{.Description}}
---

# {{.Name}} ({{.Type}})

{{.Description}}

{{if .HasExample}}
## Example Usage

{{tffile .ExampleFile}}
{{end}}

## Schema

### Required

- `feature` (Block Set, Min: 1) RSC feature with optional permission groups. (see [below for nested schema](#nestedblock--feature))
- `role_key` (String) Role key.

### Optional

- `cloud` (String) AWS cloud type.
- `ec2_recovery_role_path` (String) EC2 recovery role path.

### Read-Only

- `customer_managed_policies` (List of Object) Customer managed policies. (see [below for nested schema](#nestedatt--customer_managed_policies))
- `id` (String) The ID of this resource.
- `managed_policies` (List of String) Managed policies.

<a id="nestedatt--customer_managed_policies"></a>
### Nested Schema for `customer_managed_policies`

Read-Only:

- `feature` (String) RSC Feature.
- `name` (String) Policy name.
- `policy` (String) Policy.

<a id="nestedblock--feature"></a>
### Nested Schema for `feature`

Required:

- `name` (String) Feature name.
- `permission_groups` (Set of String) Permission groups to assign to the feature.
