---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
  {{.Description}}
---

# {{.Name}} ({{.Type}})

{{.Description}}

{{if .HasExample}}
## Example Usage

{{tffile .ExampleFile}}
{{end}}

## Schema

### Required

- `feature` (Block Set, Min: 1) RSC feature with optional permission groups. (see [below for nested schema](#nestedblock--feature))
- `role_key` (String) Role key.

### Optional

- `cloud` (String) AWS cloud type. Possible values are `STANDARD`, `CHINA` and `GOV`. Default value is `STANDARD`.
- `ec2_recovery_role_path` (String) AWS EC2 recovery role path.

### Read-Only

- `customer_managed_policies` (List of Object) Customer managed policies. (see [below for nested schema](#nestedatt--customer_managed_policies))
- `id` (String) SHA-256 hash of the customer managed policies and the managed policies.
- `managed_policies` (List of String) Managed policies.

<a id="nestedblock--feature"></a>
### Nested Schema for `feature`

Required:

- `name` (String) RSC feature name. Possible values are `CLOUD_NATIVE_ARCHIVAL`, `CLOUD_NATIVE_PROTECTION`, `CLOUD_NATIVE_S3_PROTECTION`, `EXOCOMPUTE` and `RDS_PROTECTION`.
- `permission_groups` (Set of String) RSC permission groups for the feature. Possible values are `BASIC` and `RSC_MANAGED_CLUSTER`. For backwards compatibility, [] is interpreted as all applicable permission groups

<a id="nestedatt--customer_managed_policies"></a>
### Nested Schema for `customer_managed_policies`

Read-Only:

- `feature` (String) RSC feature name.
- `name` (String) Policy name.
- `policy` (String) AWS policy.
