---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
  {{.Description}}
---

# {{.Name}} ({{.Type}})

{{.Description}}

{{if .HasExample}}
## Example Usage

{{tffile .ExampleFile}}
{{end}}

## Schema

### Optional

- `name` (String) SSO group name.
- `sso_group_id` (String) SSO group ID.

### Read-Only

- `domain_name` (String) The domain name of the SSO group.
- `id` (String) SSO group ID.
- `roles` (Set of Object) Roles assigned to the SSO group. (see [below for nested schema](#nestedatt--roles))
- `users` (Set of Object) Users in the SSO group. (see [below for nested schema](#nestedatt--users))

<a id="nestedatt--roles"></a>
### Nested Schema for `roles`

Read-Only:

- `id` (String) Role ID (UUID).
- `name` (String) Role name.

<a id="nestedatt--users"></a>
### Nested Schema for `users`

Read-Only:

- `email` (String) User email address.
- `id` (String) User ID.
